/* Creates two columns, each 50% of page width */

#pmdashboard {
  width: 100%;
}
#pmdashboard .pmcomponent {
    display: block;
    width: 90%;
    margin: 10px;
    overflow: hidden;
    background: #efefef;
    height: 50px;
    position: relative;
    padding: 0 0 0 0;
    font-size: 20px;
    line-height: 50px;
}

#pmdashboard .pmcomponent a {
    color: #222;
    text-decoration: none;
}
#pmdashboard .pmcomponent a:hover {
    color: #777;
    text-decoration: none;
}
#pmdashboard .pmcomponent i.fa {
    border: none;
    opacity: 0.5;
    color: black;
    height: 100%;
    height: 50px;
    width: 50px;
    padding: 0px 5px;
}
#pmdashboard .pmcomponent a i.fa.fa-plus {
    border: none;
    opacity: 0.2;
    color: black;
    background: rgba(0,0,0,0.3);
    height: 100%;
    float: right;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

#pmdashboard .pmcomponent a i.fa-plus:hover {
    opacity: 0.5;
}


div.pmdashboard {
  float: left;
  width: 50%;
}

#pmdashboard-block {
  overflow: hidden;
}

#pmdashboard-block .pmdashboard-icon {
  display: inline;
  float: left;
}

#pmdashboard-block .pmdashboard-icon dt.pmcomponent {
  height: 32px;
  padding-top: 5px;
}

#header-region #pmdashboard-block * {
  display: inline-block;
}

