.pm-status-danger-onfocus:active,
.pm-status-danger-onfocus:hover,
.pm-status-danger {
  color: #f00;
}
.pm-status-warning-onfocus:active,
.pm-status-warning-onfocus:hover,
.pm-status-warning {
  color: #840;
}
.pm-status-success-onfocus:active,
.pm-status-success-onfocus:hover,
.pm-status-success {
  color: #238800;
}
.pm-status-info-onfocus:active,
.pm-status-info-onfocus:hover,
.pm-status-info {
  color: #0071B3;
}
.pm-status-normal-onfocus:active,
.pm-status-normal-onfocus:hover,
.pm-status-normal {
  color: #555555;
}
